//grid
$width: 1832px;
$gutter: 16px;
$gutter-: calc($gutter * -1);
$gutter2: calc($gutter * 2);

//font size
$fsDefault: 18px;
$fsLarge: 20px;
$fsSmall: 14px;
$fsTitle: 28px;
$fsSubtitle: 24px;

//colors
$cBlack: #181818;
$cPink: #F1477E;
$cGrey: #B7B7BE;
$cGreyL: #F5F5F6;
$cGreyD: #828290;
$cRed: red;
