.works {
  div {
    width: 50%;
    height: 32px;
    background: linear-gradient(90deg, #FCFCFC 0%, #FCFCFC 100%);
    border-radius: 8px;
    margin-bottom: 32px;
    animation: pulse 1.5s ease-in-out .5s infinite;

    @media #{$small-down} {
      margin-bottom: 16px;
    }
  }

  ul {
    @media #{$medium-up} {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: $gutter;
    }

    li {
      height: 180px;
      background: linear-gradient(90deg, #FCFCFC 0%, #FCFCFC 100%), #F5F5F6;
      border-radius: 12px;
      animation: pulse 1.5s ease-in-out .5s infinite;

      &:last-child {
        @media #{$small-down} {
          display: none;
        }
      }
    }
  }
}
