.wrapper {
  position: relative;
  z-index: 50;
  font-size: 0;
  margin-top: auto;
  border-top: 1px solid $cGreyL;
}

.body {
  display: flex;
  font-size: $fsSmall;
  line-height: 1;

  @media #{$medium-up} {
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }

  @media #{$small-down} {
    padding: 29px 0px;
    flex-direction: column;
  }

  a {
    color: $cBlack;
    text-decoration: none;

    &:global(.is-active),
    &:hover {
      color: $cPink;
    }
  }
}

.box {
  $self: &;
  display: flex;

  @media #{$medium-up} {
    align-items: center;
  }

  @media #{$small-down} {
    flex-direction: column;

    &+#{$self}__box {
      margin-top: 33px;
    }
  }

  >*+* {
    @media #{$medium-up} {
      margin-left: 30px;
    }

    @media #{$large-up} {
      margin-left: 40px;
    }

    @media #{$small-down} {
      margin-top: 33px;
    }
  }
}

.developer {
  display: flex;
  align-items: center;

  svg {
    width: 6.071em;
    margin-left: 0.643em;
    fill: $cBlack;
  }

  &:hover, &:active {
    svg {
      fill: $cPink;
    }
  }
}
